<!DOCTYPE html>
<html>
<head>


</head>
<body>


<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('foo');
  for(var checkbox in checkboxes)
    checkbox.checked = source.checked;
}
</script>



    {% for cal in cal_list %}
        <input type="checkbox" name="foo" value =  {{cal.summary}}> {{cal.summary}}<br>
    {% endfor %}

    <input type="checkbox" name="foo" value =  'test'> test<br>
    <input type="checkbox" onClick="toggle(this)" /> Toggle All<br/>
</body>
</html>
